@import url("https://fonts.googleapis.com/css?family=Fahkwang");

@import url("https://fonts.googleapis.com/css?family=Mulish");

body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
          "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* These two are to not make the scrollobar pop out, now its always there */
html {
     overflow: scroll;
}
::-webkit-scrollbar {
     width: 0px;
     background: transparent; /* make scrollbar transparent */
}
